.address-container {
    padding: 0 10px
}

.address-container .tab-content .tab-pane {
    padding: 15px 0 0
}

.address-container .tab-content .tab-pane .row {
    padding: 0 7px
}

.address-container .user-add-address-container .user-add-address--box {
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #efefef;
    border-radius: 10px;
    position: relative;
    cursor: pointer
}

.address-container .user-add-address-container .user-add-address--box i {
    font-size: 35px;
    color: #e0e1e3;
    font-weight: 400;
    line-height: 50px
}

.address-container .user-add-address-container .user-add-address--box span {
    font-size: 14px;
    color: #9a9b9c
}

.address-container .user-address-item {
    padding: 5px
}

.address-container .user-address-item.active-address .custom-radio-box-label {
    border: 2px solid #1abc9c!important;
    background-color: #1abc9c1a
}


.address-container .user-address-item.active-address .custom-radio-box-label:after {
    content: attr(data-placeholder);
    color: #1abc9c!important;
    padding-right: 5px
}

.address-container .user-address-item .custom-radio-box {
    position: relative
}

.address-container .user-address-item .custom-radio-box .link {
    border: none;
    font-size: 13px;
    font-weight: 400!important;
    color: #8f9bad;
    line-height: 15px;
    transition: ease all .2s
}

.address-container .user-address-item .custom-radio-box .link:hover {
    color: #1c1c25
}

.address-container .user-address-item .custom-radio-box .divider {
    font-size: 8px;
    position: relative;
    top: 1px
}

.address-container .user-address-item .custom-radio-box .change-active-button {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background: none;
    cursor: pointer;
}

.address-container .user-address-item .custom-radio-box .change-active-button:focus{
    outline: unset !important;
}

.address-container .user-address-item .custom-radio-box .custom-radio-box-input {
    display: none
}

.address-container .user-address-item .custom-radio-box .custom-radio-box-label {
    display: block;
    position: relative;
    padding: 35px 15px 10px;
    border: 2px solid #efefef;
    border-radius: 10px;
    text-align: right;
    font-size: 13px;
}



.address-container .user-address-item .custom-radio-box .custom-radio-box-label:after {
    content: attr(data-placeholder);
    color: #d3d3d3;
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 12px;
    font-weight: 700
}

.address-container .user-address-item .custom-radio-box .user-address-recipient {
    font-weight: 700
}

.address-container .user-address-item .custom-radio-box .user-contact-items {
    display: flex;
    flex-direction: column
}

.address-container .user-address-item .custom-radio-box .user-contact-items .user-contact-item {
    display: flex;
    align-items: unset;
    color: #888
}

.address-container .user-address-item .custom-radio-box .user-contact-items .user-contact-item .full-address {
    font-size: 12px;
    margin-bottom: 7px;
    height: 55px;
    overflow: hidden;
}

.address-container .user-address-item .custom-radio-box .user-contact-items .user-contact-item .icon {
    margin-left: 5px
}

.address-container .user-address-item .custom-radio-box .user-contact-items--wecenter .user-contact-item .receive-guide {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 15px;
    color: var(--primary);
    border-bottom: dashed 1px var(--primary);
    line-height: 18px;
    margin-bottom: 0!important
}

.address-container .user-address-item .custom-radio-box .user-contact-items--wecenter .user-contact-item .receive-guide i {
    margin-left: 3px;
    color: var(--primary)
}

.address-container .modal .add-address-container .form-element-row label {
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: -.5px
}

.address-container .modal .map-container {
    background-color: #eee;
    border-radius: 20px!important;
    width: 100%;
    height: 420px;
    overflow: hidden
}

.time-and-send-container {
    padding: 0 10px
}

.time-and-send-container .radio-send-method {
    width: 100%
}

.time-and-send-container .radio-send-method .custom-radio {
    margin-bottom: 15px
}

.time-and-send-container .radio-send-method .custom-radio .inner {
    padding: 0 10px 0 0;
    border: solid 2px #efefef;
    border-radius: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.time-and-send-container .radio-send-method .custom-radio.custom-radio--active .inner {
    background-color: #1abc9c1a!important;
    border: solid 2px #1abc9c!important
}

.time-and-send-container .radio-send-method .custom-radio.custom-radio--active .custom-radio-label .label {
    color: #1abc9c
}


.time-and-send-container .radio-send-method .custom-radio .custom-radio-input {
    display: none
}

.time-and-send-container .radio-send-method .custom-radio .custom-radio-label {
    background: none;
    border: none;
    text-align: start
}
.time-and-send-container .radio-send-method .custom-radio .custom-radio-label:focus{
    outline:unset;
}
.time-and-send-container .radio-send-method .custom-radio .custom-radio-label .label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 25px 8px 15px;
    position: relative;
    transition: all .2s ease-in-out
}


.time-and-send-container .radio-send-method .custom-radio .custom-radio-label .label .icon {
    margin-left: 10px
}

.time-and-send-container .radio-send-method .custom-radio .custom-radio-label .label .icon i {
    font-size: 28px;
    color: #979797;
    font-weight: 400
}

.time-and-send-container .radio-send-method .custom-radio .custom-radio-label .label .detail {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.time-and-send-container .radio-send-method .custom-radio .custom-radio-label .label .detail .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px
}

.time-and-send-container .radio-send-method .custom-radio .custom-radio-label .label .detail .subtitle {
    color: #979797;
    font-weight: 400;
    font-size: 11px
}

.time-and-send-container .swiper-date-slider {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 10px
}

.time-and-send-container .swiper-date-slider .checkout-time .checkout-time-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px
}

.time-and-send-container .swiper-date-slider .checkout-time .checkout-time-date {
    font-size: 13px;
    color: #979797;
    margin-bottom: 10px
}

.time-and-send-container .swiper-date-slider .custom-radio-btn {
    width: 100%
}

.time-and-send-container .swiper-date-slider .custom-radio-btn .custom-radio-btn-input {
    display: none
}

.time-and-send-container .swiper-date-slider .custom-radio-btn .custom-radio-btn-label {
    display: flex
}

.time-and-send-container .swiper-date-slider .custom-radio-btn .custom-radio-btn-label .label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #efefef;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 25px;
    position: relative;
    transition: all .2s ease-in-out
}

.send-period-container .days-widget {
    background-color: #f7f8fa;
    padding: 16px 25px 12px;
    border-radius: 20px
}

.send-period-container .days-widget ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.send-period-container .days-widget ul li {
    margin-left: 8px;
    margin-bottom: 8px
}

.send-period-container .days-widget ul li>label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 12px 16px 8px;
    border: none;
    position: relative;
    color: #1c1c25;
    text-decoration: none;
    border: solid 2px #efefef;
    font-feature-settings: "ss01","tnum";
    cursor: pointer;

}
.send-period-container .days-widget ul li>label i{
    font-size: 10px !important;
}
.send-period-container .days-widget ul li>label.active{
    border: solid 2px #1abc9c;
}
.send-period-container .days-widget ul li>label.active i{
    color: #1abc9c;
}
.send-period-container .days-widget ul li>input{
    z-index: -1;
    opacity: 0;
}
.send-period-container .days-widget ul li>label:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px
}
.send-period-container .days-widget ul li>label.active:before{
    background-color: #1abc9c0d;
}
.send-period-container .days-widget ul li>label .day {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px
}

.send-period-container .days-widget ul li>label .full {
    position: relative;
    font-size: 11px;
    color: #8f9bad
}

.send-period-container .days-widget ul li>label i {
    position: relative;
    font-size: 18px;
    color: #bdbdbd
}

.send-period-container .days-widget ul li>label.holiday {
    cursor: not-allowed;
    border: solid 2px rgba(250,66,72,.2)
}

.send-period-container .days-widget ul li>label.holiday .day {
    color: #fa4248
}
.send-address-title {
    margin-top: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1c1c25;
    font-size: 16px;
    text-align: right;
}

.consignment-container {
    border-radius: 20px;
    overflow: hidden
}

.consignment-container .card .card-body {
    padding-bottom: 0
}

.consignment-container .consignments {
    padding: 10px;
    border-radius: 0;
    margin-bottom: 5px
}

.consignment-container .consignments:last-child {
    margin-bottom: 0
}

.consignment-container .consignments .consignment .main-title img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 2px;
    background-color: var(--main-background)
}

.consignment-container .consignments .consignment .main-title span {
    font-size: 14px
}

.consignment-container .consignments .consignment .consignment-items {
    list-style: none;
    border-radius: 20px;
    margin-bottom: 10px
}

.consignment-container .consignments .consignment .consignment-items .item {
    display: inline-flex;
    border-radius: 15px;
    margin-left: 8px;
    margin-bottom: 8px
}

.consignment-container .consignments .consignment .consignment-items .item:first-child {
    margin-right: 0
}

.consignment-container .consignments .consignment .consignment-items .item .thumbnail {
    width: 120px;
    overflow: hidden;
    border: 2px solid #efefef;
    border-radius: 15px
}

.consignment-container .consignments .consignment .consignment-items .item .thumbnail img {
    height: 120px;
    border-radius: 15px
}

.consignment-container .consignments .consignment .consignment-items .item-full {
    border: 2px solid #efefef;
    padding: 15px
}

.consignment-container .consignments .consignment .consignment-items .item-full .thumbnail {
    border: none;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px
}

.consignment-container .consignments .consignment .consignment-items .item-full .thumbnail img {
    width: 100%;
    height: 100%
}

.consignment-container .consignments .consignment .consignment-items .item-full .body {
    max-width: 300px;
    padding: 0 10px 10px 15px
}

.consignment-container .consignments .consignment .consignment-items .item-full .body h4 {
    max-width: 250px;
    overflow: hidden
}

.consignment-container .consignments .consignment .consignment-items .item-full .body h4 a {
    color: #1c1c25;
    line-height: 25px;
    text-overflow: ellipsis;
    display: block
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul {
    list-style: none
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li i {
    color: #aaa;
    font-size: 14px
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li span {
    font-size: 12px;
    color: #1c1c25
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li .shop-name {
    text-decoration: none;
    border: none
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li .color {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    display: inline-block
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li .cart-item--variant {
    display: inline-flex;
    align-items: center
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--price {
    display: flex;
    align-items: center
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--price .cart-item--discount {
    font-size: 12px;
    color: #fa4248
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--price .cart-item--discount .unit-red {
    width: 12px;
    height: 12px
}

.consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--price .cart-item--price-now {
    font-size: 16px;
    font-weight: 700
}

.consignment-container .consignments .consignment .time-and-send-container {
    width: initial;
    display: inline-block;
    background-color: #f7f8fa;
    padding: 12px 25px 8px;
    border-radius: 20px;
    margin-bottom: 18px
}

.consignment-container .consignments .consignment .time-and-send-container .send-address-title {
    margin-bottom: 14px
}

.consignment-container .consignments .consignment .time-and-send-container .radio-send-method .custom-radio {
    margin-bottom: 11px;
    padding: 0 8px
}

.consignment-container .consignments .consignment .time-and-send-container .radio-send-method .custom-radio .inner {
    background-color: #fff;
    height: 60px;
}

.consignment-container .consignments .consignment .time-and-send-container .radio-send-method .custom-radio.custom-radio--active .inner {
    border: solid 2px var(--primary);

}

@media (max-width: 500px) {
    .consignment-container .consignments .consignment .consignment-items .item-full {
        padding: 10px
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .thumbnail {
        width: 80px;
        min-width: 80px;
        height: 80px;
        min-height: 80px
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .body {
        padding: 0 10px 10px 5px
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .body h4 a {
        font-size: 12px !important
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul {
        list-style: none
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li {
        white-space: nowrap;
        display: block
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--data ul li .ms-2 {
        margin-right: 0 !important
    }

    .consignment-container .consignments .consignment .consignment-items .item-full .body .cart-item--price {
        white-space: nowrap
    }
}

.payment-gateway-radio-box .custom-radio {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.payment-gateway-radio-box .custom-radio .title {
    color: #1c1c25 !important
}

.payment-gateway-radio-box .custom-radio .subtitle {
    color: #8f9bad !important
}

.payment-gateway-radio-box .custom-radio .icon {
    margin-left: 15px !important
}

.payment-gateway-radio-box .custom-radio .icon i {
    color: #1c1c25 !important
}

.card {
    background-color: #fff;
}

.card label {
    float: unset;
    margin-top: unset;
    display: block;
    margin-right:unset;
    color: unset;
}
.icon-address{
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 13px;
    color: rgb(211, 211, 211);
}
.active-address .icon-address{
    color: #1abc9c !important;
    top: 6px;
    font-size: 16px;
}
.address-container .user-address-item .custom-radio-box .link {
    border: none;
    font-size: 13px;
    font-weight: 400 !important;
    color: #8f9bad;
    line-height: 15px;
    transition: ease all .2s;
}
.alert {
    border-radius: 15px;
    border: none;
    padding: 8px 20px;
}
.alert.alert-light {
    font-size: 13px;
    background-color: #f3f5f7;
    color: #71767c;
    font-weight: 400;
}
.fs-9 {
    font-size: 12px !important;
}
.badge {
    border-radius: 7px !important;
    padding: 4px 10px !important;
    font-weight: 400 !important;
    letter-spacing: -.5px;
}
.fw-bold {
    font-weight: 700 !important;
}
.fs-8 {
    font-size: 13px !important;
}
.page-aside .checkout-summary{
    border-radius: 0.25rem;
    border: unset;
}
#checkout-sidebar{
    margin-top: 33px !important;
}
.carriers-select-address{
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 13px;
    color: rgb(211, 211, 211);
}
.custom-radio--active .carriers-select-address{
    color: #1abc9c !important;
    top: 16px;
    font-size: 16px;
}
.checkout-additional-options-checkbox-image{
    max-width: 50px;
    max-height: 40px;
}
.checkout-summary li{
    list-style: none;
}
