.header-seller{
    background-color: #b21f3c;
    position: fixed;
}
.container-seller{
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.seller-header{
    padding-top:16px;
    padding-bottom:12px;
}
.seller-header img{
    max-width: 230px;
}
.seller-login-btn{
    font-size: 12px;
    font-weight: 700;
    line-height: 2.17;
    color: #fff;
    padding:10px 16px;
}

.seller-register-btn{
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 2.17;
    border-radius:8px;
    background-color: transparent;
    color: #fff;
    padding:7px 16px;
    min-width: 168px;
    text-align: center;
    max-height: 40px;
}
.seller-login-btn:hover,.seller-register-btn:hover{
    color: #fff;
}
.ai-center {
    align-items: center;
}
.main-seller{
    width: 100%;
    display: inline-block;
    margin-top: 74px;
}
.seller-slider-contact{
    position: absolute;
    top: 40%;
    right: 8%;
}
.seller-slider-contact h2{
    font-size: 3.3rem;
    font-weight: 900;
    line-height: 2.1;
    text-shadow: 0 1px 8px rgb(0 0 0 / 34%);
    font-family: iranyekan,sans-serif;
}
.seller-slider-contact p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.1;
    text-shadow: 0 1px 8px rgb(0 0 0 / 34%);
}
.color-white {
    color: #fff;
}
 .mt-10-lg {
    margin-top: 40px;
}
 .px-10-lg {
    padding-right: 40px;
    padding-left: 40px;
}
.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.break-words {
    word-break: break-word;
}
.ai-center {
    align-items: center;
}
.styles_LandingSellerIntroductionBenefits__title__fMOkh {
    background: #a41935;
}
.mt-2 {
    margin-top: 8px;
}
.Title_Title__line__NnTQY {
    width: 7rem;
    height: 0.2rem;
}
.grid-cols-2 {
    grid-template-columns: repeat(3,minmax(0,1fr));
}
 .mt-4-lg {
    margin-top: 16px
}
.mt-4 {
    margin-top: 16px;
}
.d-grid {
    display: grid;
}
.p-2 {
    padding: 8px;
}
.h-full {
    height: 100%;
}
.text-h5 {
    font-size: 15px;
    font-weight: 700;
    line-height: 2.15;
    margin-bottom: 3px;
}
.color-900 {
    color: #080a38;
}
.color-700 {
    color: #3f4064;
}
.bg-200 {
    background-color: #e0e0e6;
}
.text-body-2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 2.17;
}
.text-h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.12;
}
.Landing-icon i{
    font-size: 25px;
}
.styles_LandingSellerIntroductionSellerRoadmap__Section__HrmnO {
    background-image: url(../img/fletcher-bg.svg);
    padding: 92px 40px 122px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100%;
}
.container-xl-w {
    width: 100%;
    max-width: 1280px;
}
.overflow-hidden {
    overflow: hidden;
}
.styles_LandingSellerIntroductionSellerRoadmap__title__86lZ6 {
    background: #a41935;
}
.gap-0-lg {
    gap: 4px;
}
.overflow-x-hidden-lg {
    overflow-x: hidden;
}
.ai-center-lg {
    align-items: center;
}
.styles_LandingSellerIntroductionSellerRoadmap__Box__LI662 {
    min-width: 233px;
    max-width: unset;
    flex: 1 1;
    position: relative;
}
.h-full {
    height: 100%;
}
.flex-column {
    flex-direction: column;
}.jc-center {
     justify-content: center;
 }
.styles_LandingSellerIntroductionSellerRoadmap__Box__LI662:before {
    top: 26px;
    transform: translateX(-50%);
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    border-top: 1px dashed #a1a3a8;
}


.styles_LandingSellerIntroductionSellerRoadmap__Icon__dkQeQ {
    background: linear-gradient(0deg,rgba(239,64,86,.15),rgba(239,64,86,.15)),#fff;
    border: 2px solid #fff;
    position: relative;
}
.styles_LandingSellerIntroductionSellerRoadmap__Icon__dkQeQ i{
    font-size: 30px;
    padding: 5px;
}
.radius-circle {
    border-radius: 50%;
}
.d-inline-block {
    display: inline-block;
}
.text-body2-strong {
    font-size: 10px;
    font-weight: 700;
    line-height: 2.17;
}
.styles_LandingSellerIntroductionSellerRoadmap__IconIndex__51XU_ {
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    position: absolute;
    bottom: -9px;
    left: 51%;
    transform: translateX(-50%);
    background-color: #a41935;
}
.styles_LandingSellerIntroductionSellerRoadmap__Box__LI662:last-child:before {
    width: 0;
}
.styles_LandingSellerIntroductionSellerDocuments__Container__Iin9g {
    background: linear-gradient(180deg,hsla(0,0%,100%,.22),rgba(255,243,244,.45));
}
.py-10-lg {
    padding-top: 40px;
    padding-bottom: 40px;
}
.styles_LandingSellerIntroductionSellerDocuments__title__c_WH0 {
    background: #a41935;
}
.styles_LandingSellerIntroductionSellerDocuments__BoxContainer__K3SrZ {
    width: 80%;
}
.styles_LandingSellerIntroductionSellerDocuments__BoxContainer__K3SrZ i{
    font-size: 30px;
}
.d-flex-lg {
    display: flex;
}
.flex-column-lg {
    flex-direction: column;
}
.pb-8-lg {
    padding-bottom: 32px;
}
.pt-7-lg {
    padding-top: 28px;
}
.px-3-lg {
    padding-right: 12px;
    padding-left: 12px;
}
.w-50-lg {
    width: 50%;
}
.align-center-lg {
    text-align: center;
}
.text-h6{
    font-size: 20px;
    font-weight: 700;
    line-height: 2.15;
    margin-bottom: 3px;
}
.ml-20-lg {
    margin-left: 80px;
}
.shrink-0 {
    flex-shrink: 0;
}
.styles_LandingSellerIntroductionCommission__BoxContainer__JQp7v {
    width: 80%;
}
.grid-cols-3-lg {
    grid-template-columns: repeat(3,minmax(0,1fr));
}
.grid-cols-2-lg {
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.styles_LandingSellerIntroductionCommission__title__rtaPe {
    background: #a41935;
}
.styles_LandingSellerIntroductionCommission__Desc__lzTsd {
    max-width: 448px;
}
.styles_LandingSellerIntroductionFaq__Section__cRJDx {
    background: hsla(240,3%,94%,.3);
    border-radius: 16px;
    border: 1px solid #e0e0e6;
    padding-top: 20px;
}

.styles_LandingSellerIntroductionCommission__BoxContainer__JQp7v i{
    font-size: 25px;
}

.styles_LandingSellerIntroductionFaq__Section__cRJDx .toggle-box{
    background:unset;
    border-radius:unset;
    border: unset;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    margin: 8px 15px 8px 0;
    width: 98%;
}
.styles_LandingSellerIntroductionFaq__Section__cRJDx .toggle-box:last-child{
    border-bottom: unset;
}
.styles_LandingSellerIntroductionFaq__Section__cRJDx li.has-sub>a{
    padding-top: 0 !important;
}
.styles_LandingSellerIntroductionFaq__Section__cRJDx ul{
    margin: 0;
}
.toggle-box-active>ul>li.has-sub>a{
    padding-left: 30px;
}
.styles_LandingSellerIntroductionFaq__Section__cRJDx .toggle-box-active>ul>li.has-sub>a::after{
    top: 16px!important;
    left: 19px!important;
    right: auto !important;
}
.styles_LandingSellerIntroductionFaq__Section__cRJDx .toggle-box-active>ul>li.has-sub>a::before{
    top: 25px!important;
    left: 10px!important;
    right: auto!important;
}


.new-login_seller{
    position: relative;
    display: flex;
    min-height: 100vh;
    background: #fff;
    max-height: 100vh;
}
.new-login_seller .radio-box{
    width: auto;
}
.new-login_seller  .checkout-time-table-time .radio-box:last-child{
    margin-right: 20px;
}
.new-login_seller-sidebar{
    background-color: #f5f7fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    width: 100%;
    border-bottom-left-radius: 120px;
}
.new-login_seller_sidebar-content{
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
}
.new-login_seller_sidebar-content img{
    width: 100%;
}
.new-login_seller_sidebar-content header{
    margin-bottom: 40px;
    text-align: center;
    background: unset;
    box-shadow: unset;
}
.new-login_seller_sidebar-content header a{
    margin-bottom: 50px;
    display: block;
}
.new-login_seller_sidebar-content header h1{
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
}

#main:has(.new-login_seller_main){
    overflow: auto;
    height: 100%;
}
.new-login_seller_main{

    float: unset !important;
    margin: 0 auto;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;

}
.new-login_seller_main input{
    direction: ltr;
}
.new-login_seller_main input.mobile::placeholder {
    text-align: left !important;
}
.new-login_seller_main .parent-btn{
    display: inline-block;
    margin: 40px auto 0;
}
.new-login_seller #main{
    background:unset;
}
.c-reg-steps {
    margin: 0 auto;
    padding: 0;
    width: 300px;
    list-style: none;
}
.c-reg-steps__item {
    position: relative;
    height: 140px;
    padding-right: 55px;
}
.c-reg-steps__icon {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #a0a7b2;
    font-size: 24px;
    line-height: 1.833;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #e6e9ed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-reg-steps__icon--current {
    color: #fff;
    background-color: #57cfb1;
}
.c-reg-steps__icon--info {
    padding-left: 4px;
}
.c-reg-steps__header {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 5px;
}
.c-reg-steps__description {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px;
}
.c-reg-steps__icon:after {
    position: absolute;
    top: calc(100% + 10px);
    left: calc(50% - 1px);
    content: "";
    width: 2px;
    height: 80px;
    background: #e6e9ed;
}
.c-reg-steps__icon--checkout:after{
    content:unset;
}
.c-reg-steps__icon--current:after{
    background: linear-gradient(0deg,#e6e9ed,#e6e9ed 50%,#57cfb1 51%,#57cfb1);
}
.d-flex-r{
    display: flow-root;
}
.c-reg-form--full {
    width: 100%;
    padding: 60px 40px;
}
input[type=text]{
    text-align: right;
    direction: rtl;
}
input[type=number]{
    text-align: left;
    direction: ltr;
}
input[type=text]::placeholder{
    text-align: right;
}
.c-reg-form__text {
    font-size: 14px;
    line-height: 35px;
    color: #4f5154;
    margin-bottom: 0;
    display: block;
    text-align: right;
}
.c-reg-form__text-label {
    color: #d44952;
}
.c-reg-form__col {
    padding-right: 7.5px;
    padding-left: 7.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-reg-form__header {
    color: #2b2c31;
    font-size: 18px;
    line-height: 35px;
    margin: 0;
    text-align: right;
}
.c-reg-form__text--highlight {
    font-weight: 700;
}
.c-reg-form__text--condensed {
    line-height: 25px;
}
.c-reg-form__text--gap {
    margin-bottom: 10px;
}

.c-reg-form__row--gap-10 {
    margin-top: 10px!important;
}
.form-checkout-valid-row {
    width: 48%;
    float: right;
    margin-left: 12px;
    margin-bottom: 15px;
}
.form-checkout-valid-row select {
    font: 14px iranyekan;
    width: 100%;
    outline: none;
    height: 45px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    padding: 0 10px;
    color: #858585;
    margin-left: 10px;
}
.invalid-feedback{
    color: red!important;
}
.show-econtract{
    font: 14px iranyekan;
    color: #1ca2bd;
    border-bottom: 1px dashed #1ca2bd;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 700;
}
.c-econtract{
    padding: 30px;
    color: #646870;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 0;
}

.c-econtract__contract-wrapper {
    height: 240px;
    padding: 30px;
    margin: 30px 0;
    border: 1px solid #e6eaef;
    border-radius: 6px;
    background-color: #f5f7fa;
    font-size: 14px;
    line-height: 25px;
    overflow: auto;
}
.bd-example-modal-xl .modal-dialog{
    max-width: 80%;
}
.c-ui-input__icon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 36px;
    left: 18px;
    height: 40px;
    width: 40px;
    pointer-events: none;
    border-right: 1px solid #e6e9ed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
}
#business-details-map{
    width: 100%;
    height: 100%;
}
.c-ui-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    line-height: 1.692;
    color: #606265;
    height: 91%;
    margin-top: 5px;
    padding: 0 30px!important;
    border: 1px solid #e6eaef;
    border-radius: 8px;
    background-color: #f9fafc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-ui-form__col--group-item {
    padding-right: 5px;
    padding-left: 5px;
}
.c-ui-btn--active {
    color: #fff;
    border-color: #4fcce9;
    background-color: #4fcce9;
}
.c-new-login__sidebar-img {
    display: block;
    width: 460px;
    margin-right: -60px;
}
.c-reg-form__list {
    color: #52555c;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.c-ui-upload__origin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
}
.c-ui-upload__load{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.571;
    font-weight: 700;
    height: auto;
    min-width: 207px;
    padding: 0 5px;
    border-radius: 8px;
    border: 1px solid rgba(118,120,122,.2);
    background-color: #00cfed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
}
.filepond--drop-label {
    color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    border-radius: 2em;
    background-color: #edf0f4;
    height: 1em;
}

.filepond--item-panel {
    background-color: #595e68;
}

.filepond--drip-blob {
    background-color: #7f8a9a;
}


.filepond--drop-label.filepond--drop-label label{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.571;
    font-weight: 700;
    height: 26px;
    min-width: 207px;
    padding: 0 5px;
    border-radius: 8px;
    border: unset;
    background-color: #00cfed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    top: -8px;
}
.filepond--root filepond--hopper {
    height: 43px!important;
}
.filepond--root.filepond--hopper {
    top: 9px;
}
.filepond--panel.filepond--item-panel{
    display: none;
}
.filepond--root .filepond--drop-label{
    min-height: 43px!important;
}


.filepond--drop-label{
    background-color: #00cfed;
    color: #fff;
    font-family: iranyekan;
}
.c-reg-form__row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
@media (max-width: 716px) {
    .sellers-commissions {
        flex-direction: column;
    }
    .seller-header.d-flex {
        flex-direction: column;
        text-align: center;
    }
    .seller-header.d-flex .logo {
        margin-bottom: 20px;
    }
    .seller-header.d-flex .ai-center{
        margin: 0 auto;
    }
    .main-seller{
        margin-top: 128px;
    }
    .main-seller .px-4.px-0-lg .container-xl-w.mx-auto{
        padding: 0;
    }
}
@media (min-width: 992px) {
    .c-reg-form {
        width: 465px;
    }
    .c-reg-form__row {
        max-width: 70%;
    }
    #commission-modal .modal-lg{
        max-width: 88%!important;
    }

}

.c-reg-form__col--12 {
    width: 100%;
}
.c-reg-form__success-img {
    height: 172px;
    background: url(../img/svg/0861b24e.svg) no-repeat 50% transparent;
}
.c-reg-form__row:not(:first-child) {
    margin-top: 30px;
}
.c-reg-form__header {
    color: #2b2c31;
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 35px;
    margin: 0;
}
.c-reg-form__row--gap-20 {
    margin-top: 20px!important;
}
.c-reg-form__row--align-center{
    text-align: center;
}
.registration-checkout .c-reg-form__row{
    max-width:unset;
}
.c-reg-form__row--gap-40 {
    margin-top: 40px!important;
}
.c-reg-form__submit-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    padding: 0 40px;
    line-height: 1.571;
    font-weight: 700;
    width: 205px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(118,120,122,.2);
    background-color: #57cfb1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
}
.c-reg-form__submit-btn--block {
    width: 100%;
    max-width: 100%;
}
.c-reg-form__submit-btn--secondary {
    color: #57cfb1;
    background-color: #fff;
    border-color: #00d3b0;
}
.commission-button{
    float: right;
    font: 14px iranyekan;
    color: #1ca2bd;
    border-bottom: 1px dashed #1ca2bd;
    margin-left: 31px;
    text-decoration: none;
    font-weight: 700;
    padding: 20px 0px 0px;
    cursor: pointer;
}
.c-reg-steps__icon--done {
    color: #fff;
    background-color: #57cfb1;
}
.c-reg-steps__icon--done:after {
    background: #57cfb1;
}
.uk-modal-footer {
    padding: 40px 10px 20px;
    background: #fff;
    border-top: 1px solid #e5e5e5;
}
.c-reg-calc__example{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.c-reg-calc__step{
    position: relative;
    text-align: center;
}
.c-reg-calc__step--equal {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #f5f7fa;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.c-reg-calc__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.c-reg-calc__result {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    width: 200px;
    padding-top: 10px;
    border: 1px solid #f5f7fa;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-reg-calc__step--equal:before {
    position: absolute;
    top: 13px;
    left: 7px;
    content: "";
    width: 26px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
}
.c-reg-calc__step--equal:after {
    position: absolute;
    top: 22px;
    left: 7px;
    content: "";
    width: 26px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
}
.c-reg-calc__step--minus {
    margin-top: 12px;
    width: 30px;
    height: 30px;
    border: 1px solid #f5f7fa;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.c-reg-calc__step--minus:before {
    position: absolute;
    top: 14px;
    left: 5px;
    content: "";
    width: 20px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #000;
}
.c-reg-calc__result-img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 4px;
}
.c-reg-calc__spec {
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.c-reg-calc__result-reward {
    color: #68c3a3;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    background-color: #f5f7fa;
    border-radius: 0 0 8px 8px;
    padding: 5px;
}
.c-reg-calc__result-reward span {
    font-size: 14px;
    font-weight: 400;
}
.c-reg-calc__exclamation {
    font-size: 12px;
    line-height: 30px;
}
.c-reg-calc .c-reg-calc__title{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 35px;
}
.c-reg-calc__step-desc {
    font-size: 12px;
    line-height: 20px;
}
.c-reg-calc__step-cost {
    color: #68c3a3;
    font-size: 12px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.c-reg-calc__step-cost span {
    font-weight: 400;
    font-size: 14px;
}
.c-reg-calc__step i{
    color: #85b3be;
    font-size: 35px;
}
.c-reg-calc__step-img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-size: 60px auto;
}
.c-reg-calc__step-img--commission {
    background: url(../img/svg/e1d9870f.svg) no-repeat 50% transparent;
    background-size: 60px auto;
}
.c-reg-calc__step-img--packing {
    background: url(../img/svg/6c2c92bf.svg) no-repeat 50% transparent;
    background-size: 60px auto;
}
.c-reg-calc__step-img--delivery {
    background: url(../img/svg/024ec2cd.svg) no-repeat 50% transparent;
    background-size: 60px auto;
}
.c-reg-calc__step-img--tax {
    background: url(../img/svg/3ade566d.svg) no-repeat 50% transparent;
    background-size: 60px auto;
}

.form-legal-col .form-legal-fieldset .form-legal-item label{
    text-align: right;
}
