.text-white{
    color: #fff !important;
}
.file-uploader-profile.dropzone {
    border: 2px dashed #ea5a5f;
    background: #F8F8F8;
    min-height: 130px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    max-width: 150px;
    margin: 0 auto;
}

.file-uploader-profile.dropzone img {
    width: 100%;
}

.file-uploader-profile.dropzone .img-uploader {
    position: relative;
}

.remove-img-uploader-profile {
    position: absolute;
    left: 43%;
    top: 43px;
    width: 30px;
    height: 20px;
    background: #ea5455;
    color: #fff !important;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    z-index: 9;
    cursor: pointer;
}

.remove-img-uploader-profile i {
    padding-right: 9px !important;
    padding-top: 2px;
    color: #fff !important;
}

.file-uploader-profile.dropzone .dz-message {
    top: 50%;
    font-size: 16px;
    right: 0;
    width: 100%;
    margin-top: 30px;
    color: #ea5a5f;
    text-align: center;
}

.file-uploader-profile.dropzone .dz-message:before {
    content: '\e864';
    font-family: 'feather';
    font-size: 21px;
    position: absolute;
    top: 100px;
    width: 127px;
    height: 80px;
    display: inline-block;
    line-height: 1;
    z-index: 2;
    color: #ea5a5f;
    text-indent: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
    box-sizing: border-box;
}


.file-uploader.dropzone {
    border: 2px dashed #ea5a5f;
    background: #F8F8F8;
    min-height: 130px;
    padding: 5px;
    border-radius: 3px;
}

.file-uploader.dropzone .dz-message {
    top: 25%;
    font-size: 22px;
    position: absolute;
    right: 0;
    width: 100%;
    height: 55%;
    margin-top: -30px;
    color: #ea5a5f;
    text-align: center;
    padding-top: 8%;
    cursor: pointer;
}

.remove-img-uploader {
    position: absolute;
    left: 7%;
    top: 43px;
    width: 30px;
    height: 20px;
    background: #ea5455;
    color: #fff !important;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    z-index: 9;
    cursor: pointer;
}

.remove-img-uploader i {
    padding-right: 9px !important;
    padding-top: 2px;
    color: #fff !important;
}

.file-uploader.dropzone .dz-message:before {
    content: '\e864';
    font-family: 'feather';
    font-size: 21px;
    position: absolute;
    top: 72px;
    width: 80px;
    height: 28px;
    display: inline-block;
    right: 50%;
    margin-right: -40px;
    line-height: 1;
    z-index: 2;
    color: #ea5a5f;
    text-indent: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.file-uploader.dropzone img {
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.padding-0-5 {
    padding: 0 5px;
}

.padding-0-10 {
    padding: 0 10px;
}

.padding-0-20 {
    padding: 0 20px;
}

.padding-0-30 {
    padding: 0 30px;
}

.padding-0-40 {
    padding: 0 40px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-35 {
    padding-right: 35px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-35 {
    padding-left: 35px;
}

.padding-left-40 {
    padding-left: 40px;
}

.add-product-seller {
    display: block;
    background: #ff9f43;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    margin-top: 2px;
}

.badge-status-register {
    line-height: unset;
    white-space: unset;
    border-radius: 4px;
    padding: 4px 5px;
    margin-bottom: 7px
}

.question-icon {
    margin: 0 6px 0 3px;
    background: #fff;
    color: #3699ff;
    border-radius: 6px;
    padding: 0 4px;
    cursor: pointer;
}

.status-register-show-sellers {
    display: none;
    position: absolute;
    width: 165px;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px #ccc;
    text-align: right;
    z-index: 9;
}

.status-register-show-sellers.active {
    display: block;

}

.over-unset {
    overflow: unset !important;
}

input[type=number], input[type=email] {
    text-align: left;
    direction: ltr;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > span.badge {
    left: 50px !important;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > span.badge-creator {
    left: 20px !important;
}

.c-mega-campaigns__btns-green-plus {
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 12px 0 rgb(0 211 176 / 20%);
    box-shadow: 0 6px 12px 0 rgb(0 211 176 / 20%);
    background-color: #57cfb1;
    min-height: 40px;
    color: #fff;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    text-align: right;
    padding: 0 16px 0 15px;
    max-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    outline: none !important;
}

.ml-0-5 {
    margin-left: 0.5rem;
}

.mr-0-5 {
    margin-right: 0.5rem;
}

.mb-0-5 {
    margin-bottom: 0.5rem;
}

.dz-remove {
    cursor: pointer;
}

.pr-0-5 {
    padding-right: 0.5rem !important;
}

.pl-0-5 {
    padding-left: 0.5rem !important;
}

.navbar-header .logo-wrap img {
    max-width: 200px;
}

.header-navbar.floating-nav {
    margin: 12px 10px;
    border-radius: 6px;
    width: calc(100vw - (100vw - 94%) - calc(2.2rem * 1) - 178px);
    z-index: 12;
}

body.vertical-layout.vertical-menu-modern .main-menu {
    margin: 12px 10px;
    border-radius: 6px;
}

.main-menu {
    height: 96%;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: unset;
}

*::-webkit-scrollbar-thumb {
    background-color: #262C49;
    border-radius: 20px;
    border: unset;
}

@media (max-width: 1199px) {
    .main-menu {
        height: 100%;
    }
}

.main-menu.menu-shadow {
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 14%);
}

.header-navbar.navbar-shadow {
    box-shadow: 0 4px 20px 8px rgb(0 0 0 / 14%);
}

.quick-access {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
    padding-right: 0;
}

.quick-access a {
    font-size: 13px;
    padding: 8px 4px;
}

.main-menu .navbar-header {
    height: 10rem;
}

.highlight {
    color: red; /* رنگ هایلایت */
    font-weight: bold; /* تغییر وزن فونت برای تاکید بیشتر */
}

.clear-sidebar-search-icon {
    display: inline;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 10px; /* تغییر موقعیت آیکون نسبت به اینپوت */
    color: #bf1010;
    font-size: 25px;
}
.position-relative #sidebar-search-input.form-control {
     padding-left: 0.7rem !important;
    max-height: 30px;
    min-height: 35px;
    max-width: 173px;
}
body.semi-dark-layout .main-menu .shadow-bottom{
    background: unset !important;
}
.statistics-sell-products .productItem h3 {
    text-align: center;
    font-weight: 300;
    font-size: .9rem;
    color: #475569;
    padding: .5rem;
    text-overflow: ellipsis;
    height: 55px;
    overflow: hidden;
}
.statistics-sell-products .productItems {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    align-items: center;
}
.statistics-sell-products .productItem {
    background: white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 7px #0000001a;
}
.statistics-sell-products .productItem h5 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-weight: 300;
    font-size: .8rem;
    color: #000;
    padding: .5rem;
}
.statistics-sell-products .productItem .show {
    display: grid;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
}
.statistics-sell-products .productItem  h5 span {
    text-align: left;
}
.add-product-to-order-loader{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 24px;
    top: 36px;
}

.main-menu .sidebar--account-section>div.inner {
    display: flex;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-bottom: 35px;
    background: #f6f9fc;
    padding: 10px;
    border-radius: 12px;
}
.main-menu .sidebar--account-section .user-details {
    display: flex;
    flex-direction: column;
}
.main-menu .sidebar--account-section .user-details .name {
    font-weight: 700;
    color: #1c1c25;
    font-size: 16px;
}
.main-menu .sidebar--account-section .user-details .type {
    color: #8f9bad;
    font-size: 13px;
    font-weight: 400;
}
.main-menu .sidebar--account-section .user-avatar img {
    width: 60px;
    border-radius: 20px;
    border: solid 1px #eee;
}
.main-menu .sidebar--account-section .user-settings {
    color: #8f9bad;
    position: absolute;
    left: 12px;
}
.main-menu .main-menu-content{
    height: calc(100% - 10rem) !important;
}
.main-menu .sidebar--account-section .dropdown-menu .dropdown-item i{
    margin-top: 5px;
}
.main-menu.menu-light .navigation > li.active > a{
    background: unset;
}
.main-menu.menu-light .navigation > li.active > a{
    background-color: #0060ff26;
    color: #0060ff;
}
.main-menu.menu-light .navigation > li.open > a, .main-menu.menu-light .navigation > li.sidebar-group-active > a{
    background-color: #0060ff26;
    color: #0060ff;
}
.main-menu.menu-light .navigation > li ul .active{
    background: unset;
}
.main-menu.menu-light .navigation > li ul .active > a{
    color: #0060ff ;
    font-weight: 500 ;
}
.main-menu.menu-light .navigation li a{
    font-size: 14px;
}
.main-menu.menu-light .navigation li a .menu-item{
    font-size: 13px;
}
.main-menu.menu-light ul.navigation li.title {
    font-weight: 400;
    font-size: 12px;
    color: #8f9bad;
    margin: 20px 0 12px;
}
.form-control {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: unset !important;
    font-size: 14px;
    padding: 12px 15px;
    min-height: 45px;
    direction: rtl;
    font-feature-settings: "ss02";
}
.btn-primary {
    background-color: var(--primary);
    padding: .5rem 1.25rem;
    display: inline-flex;
    align-items: center;
}
.btn {
    border: none;
    border-radius: 14px;
    font-size: 15px;
    transition: all .2s ease-in-out;
}
.form-group div.tagsinput{
    border-radius: 14px;
}
.cke_browser_webkit{
    border-radius: 14px;
    overflow: hidden;
}
.nav-vertical .nav.nav-tabs .nav-item .nav-link.active{
    color: #0060ff !important;
    background-color: #0060ff1a !important;
    border-radius: 6px;
}
.nav-vertical .nav.nav-tabs .nav-item .nav-link{
    border-radius: 6px;
}
.select2-container--default .select2-selection--single{
    border-radius: 14px;
    padding: 8px 5px !important;
    height: unset;
}
.vs-checkbox-con .vs-checkbox{
    width: 25px;
    height: 25px;
    border-radius: 7px;
}
.vs-checkbox-primary input:checked ~ .vs-checkbox .vs-checkbox--check{
    padding-top: 3px;
}
.datepicker-plot-area{
    border-radius: 14px!important;
    width: 230px!important;
}
.datepicker-plot-area .datepicker-day-view .table-days td.selected span, .datepicker-plot-area .datepicker-year-view .year-item.selected, .datepicker-plot-area .datepicker-month-view .month-item.selected{
    border-radius: 7px;
}
.nav-vertical .nav-vertical-right{
    overflow: hidden;
    min-width: 190px;
    border-radius: 15px;
    background: #fafbfd;
    padding: 10px;
    border: dashed 1px #e8e9eb;
}
.seo-help-info{
    margin: unset;
}
.seo-help-info .checkbox-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.seo-help-info .checkbox-container i {
    margin-left: 8px;
    background-color: #1abc9c26;
    color: #1abc9c;
    border-radius: 50px;
    padding: 8px 8px;
    font-weight: 700;
}
.seo-help-info .checkbox-container .flag {
    color: #8f9bad;
    margin-right: 6px;
    font-size: 13px;
    position: unset;
    width: 100%;
}
.seo-help-info .title {
    font-weight: 700;
    font-size: 15px;
    color: #1c1c25;
}
.table-responsive .dropdown .dropdown-menu, .dropup .dropdown-menu{
    right: unset !important;
    top: 0 !important;
    left: 0 !important;
}
.table-responsive{
    overflow-x: unset;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 15px;
    min-height: 45px !important;
}
.font-s-10{
    font-size: 12px;
}
.datatable-table .datatable-head .datatable-row th:first-child {
    padding-top: 1px !important;;
}
