/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    content: '\e849' !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    float: right;
}

.ltr {
    direction: ltr;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'انتخاب فایل';
}

div.tagsinput span.tag {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

div.tagsinput div {
    float: right;
}

div.tagsinput span.tag a {
    float: left;
}

div.tagsinput input {
    margin: 0 0 5px 5px;
}

.main-menu.menu-dark .navigation > li.active > a,
.main-menu.menu-dark .navigation > li ul .active {
    background: linear-gradient(-118deg, #375ed1, rgb(61 92 98));
    box-shadow: 0 0 0px 0px rgba(46, 46, 46, 0.7) !important;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
}

input.pw {
    -webkit-text-security: disc;
}

.img-users-list {
    width: 45px;
}

label {
    margin-bottom: 10px !important;
}

.dropdown .dropdown-menu .dropdown-item {
    min-width: 145px;
}

.breadcrumb.no-border {
    border: none;
}

.post-thumb {
    width: 60px;
}

input {
    direction: rtl;
}

.dd-list .dd-list {
    padding-left: unset !important;
    padding-right: 30px !important;
}

.dropzone {
    min-height: 130px;
    padding: 5px;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    margin: 10px;
}

.custom-file-label {
    direction: ltr;
}

.dz-size {
    display: none;
}

.dz-details {
    margin-bottom: 5px !important;
}

.dz-remove {
    margin-top: 0 !important;
}

.table-img {
    width: 60px;
}

.slider-thumb img {
    width: 130px;
}

.alert-info {
    color: #10163a !important;
}

.dropzone .dz-message {
    top: 50%;
}

.ui-menu .ui-menu-item {
    text-align: right;
    direction: rtl;
}

.map {
    width: 100%;
    height: 400px;
    z-index: 1;
}

.dd-empty {
    border: 1px dashed #7266ef;
    background-color: #f9f9f9;
}

td {
    line-height: 25px;
}

.filter-card {
    padding-bottom: 1.5rem !important;
}

.filter-card .card-title {
    font-size: 13px;
}

.price-delete-btn {
    margin-top: 10px;
}

.excel-export {
    padding: 7px !important;
}

.single-specificition {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
}

.custom-padding {
    padding: 5px !important;
}

p.spec-label {
    float: right;
    width: 56px;
    margin: 0;
    padding: 8px;
    background-color: #737373;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    height: 44px;
    padding-top: 12px;
}

textarea.spec-label,
input.spec-label {
    float: right;
    margin-right: 10px;
}

.specification-group {
    border-bottom: 2px dotted #d4d4d4;
    padding-bottom: 15px;
}

.single-specificition .form-group .invalid-feedback {
    float: left;
    width: 80%;
}

.single-specificition .form-control {
    height: 44px;
    width: calc(100% - 67px);
}

.single-specificition .form-group {
    margin-bottom: 0;
}

.form-control {
    border: 1px solid #d4d8dd;
}

.specification-group .group-row {
    padding-right: 10px;
}

iframe {
    border: none;
}

.product-prices-tab {
    padding: 0;
    padding-right: 14px;
    padding-left: 14px;
}

.nav-vertical .nav.nav-tabs .nav-item .nav-link.active {
    background: #d8d8d8;
    color: #10163a;
}

.nav-vertical .nav.nav-tabs .nav-item .nav-link {
    background: #f8f8f8;
    margin-bottom: 5px;
}

@media (min-width: 900px) {
    .remove-product-price {
        /* margin-top: 45px !important; */
    }
}

.product-prices-div {
    width: 100%;
    /* overflow: hidden; */
}

.order-product-name span {
    display: block;
    font-size: 12px;
    opacity: 0.8;
}

.order-product-name .order-product-color {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin: 3px 0;
    border: 1px solid;
}

.permissions-row {
    border: 1px dashed #c1c1c1;
    border-right: 3px solid #10163a;
    margin-top: 14px;
    padding: 7px 0;
}

.main-permissions {
    font-weight: 900;
    font-size: 17px;
}

.dz-hidden-input {
    display: none;
}

.dz-details img {
    object-fit: cover;
}

.btn {
    padding: 0.7rem 1.2rem;
}

.price-change-time {
    color: #ea5a5f;
}

#add-specification-modal .specification-name b {
    position: relative;
    top: 7px;
}

.permissions-row .card .card-header .heading-elements {
    position: inherit;
    font-size: 24px;
}

.main-menu.menu-light .navigation > li.active > a,
.main-menu.menu-light .navigation > li ul .active {
    box-shadow: none !important;
}

.datatable-actions {
    padding: 10px;
    border: 1px solid rgb(225, 233, 255);
}

.prices-input-area {
    background-color: rgba(34, 41, 47, 0.05);
    padding: 8px;
    border-radius: 5px;
}

.price-item input {
    font-size: 1rem;
}

.price-seperator {
    border-top: 1px dashed rgba(34, 41, 47, 0.1);
    margin: 0.25rem 0;
}

#page-help-button {
    position: fixed;
    bottom: 10px;
    left: 15px;
    font-size: 14px;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#page-help-button i {
    margin-left: 8px;
    font-size: 18px;
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(50, 207, 232, 0.1),
            0 0 0 10px rgba(50, 207, 232, 0.1),
            0 0 0 20px rgba(50, 207, 232, 0.1);
        box-shadow: 0 0 0 0 rgba(50, 207, 232, 0.1),
            0 0 0 10px rgba(50, 207, 232, 0.1),
            0 0 0 20px rgba(50, 207, 232, 0.1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(50, 207, 232, 0.1),
            0 0 0 20px rgba(50, 207, 232, 0.1), 0 0 0 30px rgba(50, 207, 232, 0);
        box-shadow: 0 0 0 10px rgba(50, 207, 232, 0.1),
            0 0 0 20px rgba(50, 207, 232, 0.1), 0 0 0 30px rgba(50, 207, 232, 0);
    }
}

.h_iframe-aparat_embed_frame {
    position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    border: none;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-ico {
    position: absolute;
    font-size: 4rem;
    color: #e6d16d;
}

.video-title {
    position: absolute;
    bottom: 0;
    background: #ffffffba;
    padding: 7px;
    border-radius: 7px;
}

.flag {
    position: absolute;
    left: 0;
    top: -130px;
    width: 25rem;
}

.icon-file:before {
    font-size: 21px;
}

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
}

.user-statistics-card .card-footer {
    padding: 8px 1.5rem !important;
    font-size: 13px;
}

.user-statistics-card {
    margin-bottom: 1.2rem;
}

.in-calendar {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #ea5a5f;
}

.pre-space {
    white-space: pre;
}

.statics-tab .nav-link:hover {
    cursor: pointer;
}

.overflow-visible {
    overflow: visible !important;
}

#json-input {
    display: block;
    width: 100%;
    height: 200px;
}
#translate {
    display: block;
    height: 28px;
    margin: 20px 0;
    border-radius: 3px;
    border: 2px solid;
    cursor: pointer;
}
#json-display {
    border: 1px solid #000;
    margin: 0;
    padding: 10px 20px;
}

.card-header.filter-card {
    cursor: pointer;
}

.cke_textarea_inline {
    border: 1px solid #909090;
    border-radius: 6px;
    padding: 10px;
    min-height: 100px;
}
 .abilityPostToolTip {
    grid-gap: 0.5rem;
    align-items: center;
    background: rgba(255,0,0,.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 3rem;
    padding: 0 0.5rem;
}
.abilityPostToolTip i svg {
    fill: #e3342f;
    -webkit-animation: arrow-anim 1.5s ease infinite;
    animation: arrow-anim 1.5s ease infinite;
    height: 1.2rem;
    margin-bottom: 0;
    width: 1.2rem;
}
.abilityPostToolTip p {
    align-items: center;
    color: #475569;
    display: grid;
    font-size: .8rem;
    font-weight: 300;
    height: 3rem
}
.abilityPostToolTip div {
    align-items: center;
    color: #475569;
    font-size: .8rem;
    font-weight: 300;
    height: 3rem;
    display: inline-block;
    padding-top: 11px;
}
@-webkit-keyframes arrow-anim {
    0% {
        margin-bottom: 0
    }

    10% {
        margin-bottom: .5rem
    }

    30% {
        transform: rotate(-40deg)
    }

    50% {
        transform: rotate(40deg)
    }

    60% {
        transform: rotate(-40deg)
    }

    70% {
        transform: rotate(-20deg)
    }

    80% {
        margin-bottom: 1rem;
        transform: rotate(0)
    }

    to {
        margin-bottom: .5rem
    }
}
.datatable.datatable-default .ps>.ps__rail-y>.ps__thumb-y:hover, .datatable.datatable-default .ps>.ps__rail-y>.ps__thumb-y:focus, .datatable.datatable-default .ps>.ps__rail-x>.ps__thumb-x:hover, .datatable.datatable-default .ps>.ps__rail-x>.ps__thumb-x:focus {
    background-color: #516ec7;
}
.dz-remove{
    cursor: pointer;
}
.sms-card-setting > .row{
    /*box-shadow: 0 0 5px #ccc;*/
    border-radius: 5px;
    padding-top: 10px;
    border: 1px solid #ccc;
    margin: 0px -6px 15px;
}
.sms-card-setting:has(input:disabled){
    opacity: 0.5;
}

.personal-success-btn {
    border: 1px solid #1F9D57 !important;
    background-color: unset;
    color: #1F9D57;
}

.personal-show-btn{
    border: 1px solid #db5871;
    background: unset;
    color: #db5871;
}
.personal-danger-btn{
    border: 1px solid #e70f0f !important;
    background: unset;
    color: #e70f0f;
}
.personal-info-btn{
    border: 1px solid #00CFE8 !important;
    background: unset;
    color: #00CFE8;
}
.personal-warning-btn{
     border: 1px solid #FF8510 !important;
     background: unset;
     color: #FF8510;
}
.personal-info-btn:hover{
    color: #00CFE8;
    text-decoration: none;
    background-color: #00cfe814;
    box-shadow: 0 5px 15px -8px #00CFE8;
}
.personal-danger-btn:hover{
    color: #e50101;
    text-decoration: none;
    background-color: #e501010f;
    box-shadow: 0 8px 25px -8px #e50101;
}
.personal-warning-btn:hover{
    color: #FF8510;
    text-decoration: none;
    background-color: #ff85100f;
    box-shadow: 0 8px 25px -8px #FF8510;
}
.personal-show-btn:hover{
    background-color: #db58710f;
    border-color: #db5871 !important;
    color: #db5871 !important;
    box-shadow: 0 8px 25px -8px #db5871;
}
.personal-success-btn:hover{
    background-color: #24b26329;
    border-color: #24B263 !important;
    color: #24B263 !important;
    box-shadow: 0 8px 25px -8px #28C76F;
}
.badge.badge-success {
    background-color: #28c76f0d;
    border: 1px solid #28C76F;
    color: #28C76F;
}

.badge.badge-warning {
    background-color: #ff9f4305;
    border: 1px solid #FF9F43;
    color: #FF9F43;
}
.badge.badge-danger {
    background-color: #ea54550f;
    border: 1px solid #EA5455;
    color: #EA5455;
}
.table-responsive thead{
    background: #191919;
    background-color: #191919 !important;
    color: #fff;
}
.top-50{
    top: 50px!important;
}
.left-30{
    left: 30px!important;
}
 .dropdown-menu{
    right: auto!important;
}
.dropdown.dropdown-action .dropdown-menu::before{
    content:unset!important;
}
.dropdown.dropdown-action .dropdown-menu .dropdown-item {
    min-width: unset;
    padding: 5px 10px 5px;
    width: 100%;
}
/*.table-responsive,
.dataTables_scrollBody {
    overflow: visible !important;
}*/

.dataTables_scrollBody {
    overflow: visible !important;
}
.dropdown.dropdown-action .dropdown-menu .dropdown-item:not(.active):not(:active):hover, .btn-outline-secondary ~ .dropdown-menu .dropdown-item:not(.active):not(:active):hover, .btn-flat-secondary ~ .dropdown-menu .dropdown-item:not(.active):not(:active):hover{
    background-color: #F8F8F8!important;
    color: #ea5a5f!important;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #ea5a5f;
    text-decoration: none;
    background-color: #F8F8F8;
}
@media (max-width: 500px) {
    .p-rl-0-responsive-500{
        padding-right: 0;
        padding-left: 0;
    }
    .dd-list .dd-item .dd-handle {
        padding: 5px 5px !important;
    }
    .dd-list .dd-item .dd-handle i{
        padding: 0 10px 0 3px !important;
    }
    .dd-list .dd-item .dd-handle .menu-title{
        max-width: 135px;
        display: inline-block;
    }
    .dd-list .dd-item .dd-handle .category-title{
        max-width: 135px;
        display: inline-block;
    }
}
.dd-list .dd-item .dd-handle{
    height: auto;
}
.overflow-unset{
    overflow: unset!important;
}
input[name=TrackingCode]::placeholder {
    text-align: right;
}

input[name=TrackingCode] {
    text-align: left;
    direction: ltr;
}
.select2-container,.select2-results{
    direction: rtl;
}
